280NPLIST;1.0;D;K;29;CPBundleInfoDictionaryVersiond;1;6K;12;CPBundleNameS;20;SpreadSheetTableViewK;18;CPBundleIdentifierS;32;fr.bulleval.SpreadSheetTableViewK;15;CPBundleVersionS;3;0.1K;19;CPBundlePackageTypeS;4;FMWKK;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;23;SpreadSheetTableView.sjK;36;CPBundleEnvironmentsWithImageSpritesA;E;E;